<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"/>
<body>
<div th:replace="layout/layout :: navbar"/>
<div th:replace="layout/layout :: info"/>
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-4">
            <div class="card">
                <div class="card-header bg-light">
                    <label/>NOWY PRODUKT</label>
                </div>
                <div class="card-body">
                    <h5 class="card-title"/>
                    <!-FORM USER-!>
                    <form th:action="@{/products}" th:object="${newProduct}" method="post" >
                        <div class="form-group row">
                            <label for="inputName" class="col-sm-5 col-form-label">Nazwa :</label>
                            <div class="col-sm-6">
                                <input th:type="hidden" th:field="*{id}"/>
                                <input th:type="text" th:field="*{name}" class="form-control" id="inputName"
                                       placeholder="name">
                                <small class="text-form text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputPassword" class="col-sm-5 col-form-label">Cena :</label>
                            <div class="col-sm-6">
                                <input th:type="text" th:field="*{price}" class="form-control"
                                       id="inputPassword"  placeholder="0.0 zł">
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-10">
                                <button type="submit" class="btn btn-secondary float-right" >
                                    <label th:text="#{text.user.users.save}"/>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-8">
            <table class="table table-bordered text-center">
                <thead class="thead-light ">
                <tr>
                    <th colspan="6"> <h2>LISTA PRODUKTÓW</h2> </th>
                </tr>
                <tr>
                    <th class="col-2">LP</th>
                    <th>NAZWA PRODUKTU</th>
                    <th class="col-2">CENA</th>
                </tr>
                </thead>
                <tbody th:each="products,lp:${products}">
                <tr>
                    <td th:text="${lp.count}">1</td>
                    <td th:text="${products.name}"></td>
                    <td th:text="${products.price} + ' zł'"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
<footer th:replace="layout/layout::footer"/>
</body>
</html>