<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/Layout :: head"/>

<body>
<div th:replace="layout/Layout :: navbar"/>
<div th:replace="layout/Layout :: info"/>
<div class="container">
    <div class="row">
        <div th:replace="layout/Layout :: navMain"/>

        <div class="col-12">
            <table class="table table-hover table-bordered text-center">
                <thead class="thead-light">
                <tr>
                    <th colspan="12" style="text-align: center;"> <h2>LISTA DOKUMENTÓW</h2> </th>
                </tr>
                <tr>
                    <th>LP</th>
                    <th><a th:href="@{?sort=type}">TYP DOKUMENTU</th>
                    <th>OPIS</th>
                    <th><a th:href="@{?sort=date}">DATA</a></th>
                    <th><a th:href="@{?sort=user}">AUTOR</a></th>
                    <th></a>EDYTUJ</th>
                    <th>SZCZEGÓŁY</th>
                    <th></a>USUŃ</th>

                </tr>
                </thead>
                <tbody th:each="deliveries,lp:${deliveries}">
                <tr>
                    <td th:text="${lp.count}">1</td>
                    <td th:text="${deliveries.document.name}"></td>
                    <td th:text="${deliveries.description}"></td>
                    <td th:text="${deliveries.date}"></td>
                    <td th:text="${deliveries.nameUser}"></td>
                    <td> <a th:href="${'/warehouseMain/document/'+ deliveries.id}" class="text-success">
                        <img th:src="@{/img/edit-png.png}" style="width:20px"/></a> </td>
                    <td> <a th:href="${'/warehouseMain/document/'+ deliveries.id}" class="text-success">
                        <img th:src="@{/img/details.png}" style="width:22px"/></a> </td>
                    <td> <a th:href="${'/warehouseMain/document/delete/'+ deliveries.id}" class="text-danger">X</a> </td>

                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-12">
        </div>
    </div>
</div>
<footer th:replace="layout/layout::footer"/>
</body>
</html>