<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"/>

<body>
<div th:replace="layout/layout :: navbar"/>
<div th:replace="layout/layout :: info"/>
<div class="container">
    <div class="row justify-content-md-center">
        <div th:replace="layout/layout :: navShop"/>
        <!-FORM USER-!>
        <div class="col-12">

        <br>
            <div class="col-12">
                <table class="table table-hover table-bordered text-center">
                    <thead class="thead-light">
                    <tr>
                        <th colspan="12" style="text-align: center;"> <h2>NOWY DOKUMENT</h2> </th>
                    </tr>
                    <tr>
                        <th>MAGAZYN</th>
                        <th>OPIS</th>
                        <th>DOCUMENT</th>
                        <th>DODAJ</th>

                    </tr>
                    </thead>
                    <tbody>
                        <form th:action="@{/warehouseMain/document/form}" th:object="${newDelivery}" method="post">
                        <tr>
                            <td><select readonly class="custom-select mr-sm-2" th:field="*{warehouse}">
                                <option th:each="warehouse : ${warehouse}"
                                        th:value="${warehouse.id}"
                                        th:text="${warehouse.name}"></option>
                            </select></td>
                        <td><input th:type="text" th:field="*{description}" class="form-control"
                                   placeholder="description">
                        </td>
                        <td><select class="custom-select mr-sm-2" th:field="*{document}">
                            <option th:each="document : ${documents}"
                                    th:value="${document.id}"
                                    th:text="${document.name}"></option>
                        </select></td>
                        <td><button type="submit" class="btn btn-secondary float-right" >
                            <label th:text="#{text.user.users.save}"/>
                        </button></td>
                        <!--<td> <a th:href="${'/warehouseShop/document/'+ deliveries.id}" class="text-success">-->
                            <!--<img th:src="@{/img/edit-png.png}" style="width:20px"/></a> </td>-->
                        <!--<td> <a th:href="${'/warehouseShop/document/delete/'+ deliveries.id}" class="text-danger">X</a> </td>-->

                            </tr>
                        </form>
                    </tbody>
                </table>
            </div>

        <div class="col-12">
        </div>
    </div>
</div>
</div>
<footer th:replace="layout/layout::footer"/>
</body>
</html>