<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/Layout :: head"/>
<body>
<div th:replace="layout/Layout :: navbar"/>
<div th:replace="layout/Layout :: info"/>
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-12">
            <table class="table table-hover table-bordered text-center">
                <thead class="thead-light">
                <tr>
                    <th colspan="12" style="text-align: center;"> <h2>NOWY PRODUKT</h2> </th>
                </tr>
                <tr>
                    <th>NAZWA</th>
                    <th>ILOSC</th>
                    <th>DODAJ</th>
                </tr>
                </thead>
                <tbody>
                <form th:action="@{#}"  method="post">
                    <tr>
                        <td><select readonly class="custom-select mr-sm-2" th:name="product">
                            <option th:each="product : ${products}"
                                    th:value="${product.id}"
                                    th:text="${product.name}"></option>
                        <td>
                            <input th:type="text" th:name="quantity">
                        </td>
                        <td><button type="submit" class="btn btn-secondary float-right" >
                            <label >DODAJ</label>
                        </button></td>
                    </tr>
                </form>
                </tbody>
            </table>

            <br><br>
            <table class="table table-bordered text-center">
                <thead class="thead-light">
                <tr>
                    <th colspan="13" style="text-align: center;"> <h2>SZCZEGÓŁY DOKUMENTU</h2> </th>
                </tr>
                <tr>
                    <th>ID</th>
                    <th>OPIS</th>
                    <th>DATA</th>
                    <th>URZYTKOWNIK</th>
                    <th>DOKUMENT</th>
                    <th>ZATWIERDZENIE</th>
                    <th>USUŃ</th>

                </tr>
                </thead>
                <tbody th:each="delivery:${delivery}">
                <tr>
                    <td th:text="${delivery.id}"></td>
                    <td th:text="${delivery.description }"></td>
                    <td th:text="${delivery.date}"></td>
                    <td th:text="${delivery.nameUser}"></td>
                    <td th:text="${delivery.document.name}"></td>
                    <td th:if="${delivery.confirm == true}">
                        <img th:src="@{/img/ok.png}" style="width:40px"/></a></td>
                    <td th:if="${delivery.confirm == false}">
                        <img th:src="@{/img/falsee.png}" style="width:20px"/></a></td>
                    <td> <a th:href="${'/warehouseShop/document/delete/'+ delivery.id}" class="text-danger">
                        <img th:src="@{/img/delete.png}" style="width:30px"/>
                    </a> </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-12">
            <table class="table table-bordered text-center">
                <thead class="thead-light">
                <tr>
                    <th>LP</th>
                    <th>NAZWA</th>
                    <th>ILOŚĆ</th>
                    <th>CENA</th>
                    <th>WARTOŚĆ</th>
                </tr>
                </thead>
                <tbody th:each="item,lp:${list}">
                <tr>
                    <td th:text="${lp.count}">1</td>
                    <td th:text="${item.product.name}"></td>
                    <td th:text="${item.quantity}"></td>
                    <td th:text="${item.product.price}"></td>
                    <td th:text="${item.getTotalPrice()}"> </td>
                </tr>
                </tbody>
            </table>
            <div th:if="delivery.isConfirm != true">
                <form th:action="@{/warehouseShop/document/form/submit}" th:object="${delivery}" method="post">
                    <button type="submit" class="btn btn-danger float-right"><label>ZATWIERDZ</label></button>
                </form>
            </div>
        </div>
    </div>
</div></div></div></div>
<footer th:replace="layout/layout::footer"/>

</body>
</html>
