<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/Layout :: head"/>
<body>
<div th:replace="layout/Layout :: navbar"/>
<div th:replace="layout/Layout :: info"/>
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-12">
            <table class="table table-hover table-bordered text-center">
                <thead class="thead-light">
                <tr>
                    <th colspan="12" style="text-align: center;"> <h2>NOWY PRODUKT</h2> </th>
                </tr>
                <tr>
                    <th>NAZWA</th>
                    <th>ILOŚĆ</th>
                    <th>DODAJ</th>
                </tr>
                </thead>
                <tbody>

                    <th colspan="13" style="text-align: center;"> <h2>SZCZEGÓŁY DOKUMENTU</h2> </th>
                </tr>
                <tr>
                    <th>ID</th>
                    <th>OPIS</th>
                    <th>DATA</th>
                    <th>URZYTKOWNIK</th>
                    <th>USUŃ</th>

                </tr>
                </thead>
                <tbody th:each="delivery:${delivery}">
                <tr>
                    <td th:text="${delivery.id}"></td>
                    <td th:text="${delivery.description }"></td>
                    <td th:text="${delivery.date}"></td>
                    <td th:text="${delivery.nameUser}"></td>
                    <td> <a th:href="${'/warehouseShop/document/delete/'+ delivery.id}" class="text-danger">X</a> </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-12">
            <table class="table table-bordered text-center">
                <thead class="thead-light">
                <tr>
                    <th>LP</th>
                    <th>NAZWA</th>
                    <th>ILOŚĆ</th>
                    <th>CENA</th>
                    <th>WARTOŚĆ</th>
                    <th>EDYTUJ</th>
                    <th>USUŃ</th>

                </tr>
                </thead>
                <tbody th:each="item,lp:${delivery.itemdeliveries}">
                <tr>
                    <td th:text="${lp.count}">1</td>
                    <td th:text="${item.product.name}"></td>
                    <td th:text="${item.quantity}"></td>
                    <td th:text="${item.product.price}"></td>
                    <td th:text="${item.getTotalPrice()}"> </td>
                    <td> <a th:href="${'/delivery/details/'+ item.id}" class="text-success">
                        <img th:src="@{/img/edit-png.png}" style="width:20px"/></a> </td>
                    <td> <a th:href="${'/warehouseShop/document/delete/'+ item.id}" class="text-danger">X</a> </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div></div></div></div>
<footer th:replace="layout/layout::footer"/>

</body>
</html>
